[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
uvicorn = "*"
pydantic = "*"
gradio = "*"
gradio-client = "*"
fastapi = {extras = ["all"], version = "*"}
django-cors-headers = "*"
django-extensions = "*"
torch = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
